<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google fonts font-family: 'Nunito', sans-serif;--> 
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom CSS-->
    <link rel="stylesheet" href="./css/app.css">

    <title>MuseumOfCandy</title>
  </head>
  <body>
    <nav id = "mainnavbar" class = "navbar navbar-light navbar-expand-md py-0 fixed-top">
        <a href="#" class = navbar-brand>CANDY</a>
        <button class = "navbar-toggler" data-toggle="collapse" data-target = "#navlinks" aria-label = "Toggle nav bar">
            <span class= "navbar-toggler-icon"></span>
        </button>
        <div class = "collapse navbar-collapse" id = "navlinks" >
            <ul class = "navbar-nav">
                <li class = "nav-item">
                    <a href="" class = "nav-link">HOME</a>
                </li>
                <li class = "nav-item">
                    <a href="" class = "nav-link">ABOUT</a>
                </li>
                <li class = "nav-item">
                    <a href="" class = "nav-link">TICKETS</a>
                </li>
            </ul>
        </div>
    </nav>


    <section class = "container-fluid px-0">
        <div class = "row align-items-center">
            <div class = "col-lg-6">
                <div id = "headingGroup" class = "text-center text-white d-none d-lg-block mt-5">
                    <h1 class = "display-2 ">MUSEUM <span>/</span> OF <span>/</span> CANDY</h1>
                    <h1 class = "display-2 ">MUSEUM <span>/</span> OF <span>/</span> CANDY</h1>
                    <h1 class = "display-2 ">MUSEUM <span>/</span> OF <span>/</span> CANDY</h1>
                    <h1 class = "display-2 ">MUSEUM <span>/</span> OF <span>/</span> CANDY</h1>
                    <h1 class = "display-2 ">MUSEUM <span>/</span> OF <span>/</span> CANDY</h1>
                    <h1 class = "display-2 ">MUSEUM <span>/</span> OF <span>/</span> CANDY</h1>
                    <h1 class = "display-2 ">MUSEUM <span>/</span> OF <span>/</span> CANDY</h1>
                </div>
            </div>
            <div class = "col-lg-6">
                <img class = "img-fluid" src="./img/donuthand.jpg" alt="">
            </div>
        </div>
    </section>

    <section class = "conatiner-fluid px-0">
        <div class = "row align-items-center ">
            <div class = "col-md-6 order-2 order-md-1">
                <img src="./img/3milkshakes.jpg" class = "img-fluid" alt="Hier's n vetfokop">
            </div>
            <div class = "col-md-6 order-1 order-md-2">
                <div class = "row justify-content-around text-center">
                        <div class = "col-10  col-lg-8 blurp">
                            <h2>MUSEUM OF CANDY</h2>
                                <p class = "lead">
                                    Chocolate bar caramels chocolate cake wafer pastry soufflé tootsie roll. 
                                    Chupa chups sesame snaps bear claw oat cake tart. Cake bonbon powder danish biscuit. 
                                    Marzipan chocolate bar carrot cake jujubes biscuit fruitcake ice cream ice cream. 
                                    Jelly-o jelly-o oat cake sweet roll cake sweet roll. 
                                    Powder bonbon dragée cookie donut cookie carrot cake candy canes. 
                                    Croissant chocolate cake muffin jelly beans oat cake tootsie roll marshmallow. 
                                    Cake jelly beans bear claw powder jujubes. Marzipan gingerbread dragée. 
                                    Tootsie roll bear claw lollipop. Donut bear claw biscuit marshmallow cheesecake powder. 
                                    Marzipan cookie jelly dragée tootsie roll. Cupcake brownie chupa chups ice cream bonbon.
                            </p>
                        </div>
                </div>
            </div>
        </div>

        <div class = "row align-items-center ">
                <div class = "col-md-6 order-2" >
                    <img src="./img/candyjar.jpg" class = "img-fluid" alt="Hier's n vetfokop">
                </div>
                <div class = "col-md-6 order-1">
                    <div class = "row justify-content-around text-center">
                            <div class = "col-10  col-lg-8 blurp">
                                <h2>MUSEUM OF CANDY</h2>
                                <p class = "lead">
                                        Cheesecake oat cake candy canes. 
                                        Sweet roll muffin muffin marshmallow pastry brownie. 
                                        Sweet roll pie pudding danish chocolate bar dragée danish. 
                                        Cupcake sweet roll carrot cake sugar plum liquorice biscuit. 
                                        Wafer cheesecake cotton candy donut chupa chups gingerbread jelly beans tart. 
                                        Dessert dragée topping fruitcake apple pie soufflé sesame snaps. 
                                        Gummies soufflé sweet jujubes dessert sugar plum. 
                                </p>
                            </div>
                    </div>
                </div>
            </div>

            <div class = "row align-items-center ">
                    <div class = "col-md-6 order-2 order-md-1">
                        <img src="./img/cupnut.jpg" class = "img-fluid" alt="Hier's n vetfokop">
                    </div>
                    <div class = "col-md-6 order-1 order-md-2">
                        <div class = "row justify-content-around text-center">
                                <div class = "col-10  col-lg-8 blurp">
                                    <h2>MUSEUM OF CANDY</h2>
                                    <p class = "lead">
                                            Tootsie roll apple pie pie chupa chups biscuit. 
                                            Gummies jujubes cotton candy cotton candy jelly-o macaroon danish. 
                                            Carrot cake biscuit gingerbread macaroon pastry cookie gummies. 
                                            Brownie marshmallow marshmallow. 
                                            Caramels lollipop jelly beans cheesecake tart liquorice danish oat cake danish. 
                                            Marshmallow cake caramels jelly beans. Jelly beans chocolate cake. 
                                            Bonbon pie soufflé powder gingerbread jelly beans jelly-o apple pie bonbon. 
                                            Liquorice sugar plum cake dessert pie candy pastry.
                                    </p>
                                </div>
                        </div>
                    </div>
                </div>
    </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $(document).scroll(function(){
                var $nav = $("#mainnavbar");
                $nav.toggleClass("scrolled", $(this).scrollTop() > $nav.height());
            })
        })
    </script>
</body>
</html>